<%= form_for @event do |event| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= event.label :name %><br>
    <%= event.text_field :name %>
  </div>
  <div class="field">
    <%= event.label :description %><br>
    <%= event.text_area :description %>
  </div>

  <fieldset>
    <legend>Timeslots</legend>
    <%= event.fields_for :timeslots do |timeslot| %>
      <%= timeslot.text_field :datetime_string %></br />
    <% end %>
  </fieldset>

  <div class="actions">
    <%= event.submit %>
  </div>
<% end %>
