<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>

<p>
  <%= @event.description %>
</p>

<div class="btn-group" data-toggle="buttons">
  <% @event.timeslots.each do |timeslot| %>
    <label class="btn btn-primary active">
      <input type="checkbox" autocomplete="off" checked> <%= timeslot.datetime.to_date %>
    </label>
  <% end %>
</div>

<ul class="list-group">
  <% @event.timeslots.each do |timeslot| %>
    <li class="list-group-item">
      <label>
        <input type="checkbox">
        <%= timeslot.datetime.to_date %>
      </label>
    </li>

  <% end %>
</ul>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
