<p id="notice"><%= notice %></p>

<% users = [
  "dev@stevenocchipinti.com", "foo", "bar", "baz", "bing", "bong", "blam"
] %>

<table class="table event_table">
  <tr>
    <td style="width: 100px;"></td>
    <% @event.attendees.each do |attendee| %>
      <td>
        <%= render "gravatar", email: attendee.email_address %>
      </td>
    <% end %>
  </tr>

  <% @event.timeslots.each do |timeslot| %>
    <tr>
      <td class="event_datetime">
        <%= timeslot.datetime_string %>
      </td>
      <% @event.attendees.each do |attendee| %>
        <td>
          <label>
            <input type="checkbox">
          </label>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
